.Card{
    width: 70%;
    max-width: 100%;
    margin: 10px 15% 10px 15%;
    border: 1px solid darkgrey;
    box-sizing: border-box;
    padding: 10px;
}

a{
    text-decoration: none;
    color: darkslateblue;
}
a:hover{
    color: black;
}
.MainCard{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.ProdImg{
    width: 30%;
    max-width: 100%;
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 10px;
    border-right: 1px solid black;
}
.TechDesc{
    border: 1px solid red;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}
.TechDesc ul li{
    list-style-type: decimal;
}
@media(max-width:699px){
    .TechDesc{
        flex-flow: column;
    }
}
.Desc{
    width: 90%;
    max-width: 100%;
    box-sizing: border-box;
    /* border: 1px solid magenta; */
    padding: 10px;
}

.List1,.List2{
    width: 100%;
    border: 1px solid purple;
    padding: .2rem;
}

.ProdTitle{
    border-bottom: 1px solid lightgrey;
    text-align: center;
}

.Specs{
    text-align: center;
}

.Source{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Toggle{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Info{
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: 100%;
}


.SpecsTable{
    height: 100%;
}

.Analysis{
    height: 100%;
}
/* Media queries */
@media(max-width:699px){
    .Card{
        width: 70%;
        margin: 10px 15% 10px 10%;
    }

    .MainCard{
        display: flex;
        flex-flow: column;
    }
    .ProdImg{
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: 1px solid black;
    }
    .Img{
        width: 80%;
        margin: 0 10% 0 10%;
    }
}

@media(max-width:900px){
   .ProdImg{
        width: 100%;
        text-align: center;
        border-right: none;
        border-bottom: 1px solid black;
    }
    .Img{
        width: 80%;
        margin: 0 10% 0 10%;
    }
}