.Card {
    width: 85%;
    max-width: 100%;
    box-sizing: border-box;
    color: white;
    margin: 1rem 7.5% 10rem 7.5%;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        color: darkgray;
    }
}


.MainCard {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.ProdImg {
    max-width: 100%;
    box-sizing: border-box;

    img {
        max-height: 75%;
        max-width: 75%;
    }
}

.Price {
    padding: .5rem;
    width: 30%;
    text-align: center;
}

.TechDesc {
    padding: .5rem;
    display: flex;
    justify-content: space-between;

    ul li {
        list-style-type: decimal;
    }
}


.Short {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 45px;
}

@media(max-width:699px) {
    .TechDesc {
        flex-flow: column;
    }
}

.Desc {
    width: 90%;
    max-width: 100%;
    box-sizing: border-box;
    /* border: 1px solid magenta; */
    padding: 10px;
}

.List1,
.List2 {
    width: 100%;
    border: 1px solid purple;
    padding: .2rem;
}

.ProdTitle {
    font-size: 1.1rem;
    text-align: center;
}


.Source {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Info {
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
}


/* Media queries */
@media(max-width:699px) {
    .Card {
        width: 100%;
        margin: 0 0 1rem 0;
    }

    .MainCard {
        display: flex;
        flex-flow: column;
    }

    .ProdImg {
        img {
            width: 100%;
            height: 100%;
        }
    }
}