
.Form{
    // background-color: aliceblue;
    background-color: #202020;
    color: white;
    width: 50%;
    height: 100%;
    padding: 20px;
    max-width: 100%;
    box-sizing: border-box;
    margin: 10px 25% 10px 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

//https://codepen.io/lucasyem/pen/ZEEYKdj
$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.15rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
  }
  padding-bottom: 6px;  
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}


@media(max-width:900px){
    .Form{
        width: 90%;
        margin: 10px 5% 10px 5%;
    }
}

.button{
    margin: 1em;
    border-radius: 9px;
    border: none;
    height: 40px;
    width:90px;
    padding: .4rem;
    cursor: pointer;

    &:hover{
        background-color: lightgray;
        color: #131313;
    }
}